.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.jumbotron {
  height: 100vh;
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(208,238,242,1) 55%, rgba(246,247,247,1) 100%);
 
}
.intro{
  margin-bottom: 10%;
  text-align: center;
}
.spikes {
  margin-bottom: 10%;
  position: relative;
  background: #d0eef2;
  height: 2vh;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -24%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 30px;
  background-size: 65px 100%;
  background-image: linear-gradient(135deg, #9bd9e2 25%, transparent 25%), linear-gradient(225deg, #d0eef2 25%, transparent 25%);
  background-position: 0 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
